@model WebHolder.Models.TradeBox
<div id="balance">
    @Html.Partial("TradeContent", Model)
</div>
<div id="results">
    @using (Ajax.BeginForm("ShowCurrentBids", new AjaxOptions
    {
        UpdateTargetId = "results",
        LoadingElementId = "loading",
        LoadingElementDuration = 10
    }))
    {
        <input name="Details" type="submit" value="Show bids for trade" />
    }
    <div id="loading">
        <p>Loading ...</p>
    </div>

    @if (ViewBag.Message != null)
    {
        <p class="message">@ViewBag.Message</p>
    }
</div>

