IF EXISTS (SELECT * 
	         FROM   master..sysdatabases 
	        WHERE  name = 'JointStockCompany')
BEGIN
 ALTER DATABASE JointStockCompany
 SET SINGLE_USER with ROLLBACK IMMEDIATE
 USE [master]
 DROP DATABASE JointStockCompany
END
GO

CREATE DATABASE JointStockCompany
GO

USE [JointStockCompany]
GO
/****** Object:  Table [dbo].[PriceQuote]    Script Date: 15.10.2018 22:43:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PriceQuote](
	[Date] [date] NOT NULL,
	[CommonPrice] [money] NOT NULL,
	[PreferPrice] [money] NOT NULL,
 CONSTRAINT [PK_PriceQuote] PRIMARY KEY CLUSTERED 
(
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trade]    Script Date: 15.10.2018 22:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trade](
	[IdTrade] [int] IDENTITY(1,1) NOT NULL,
	[DateTrade] [date] NOT NULL,
	[IdSeller] [int] NOT NULL,
	[IdPurchaser] [int] NOT NULL,
	[ShareQty] [int] NOT NULL,
	[ShareType] [nchar](6) NOT NULL,
	[Price] [money] NOT NULL,
	[NameUser] [nvarchar](30) NULL,
	[Comission] [money] NOT NULL,
 CONSTRAINT [PK_Trade] PRIMARY KEY CLUSTERED 
(
	[IdTrade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[view_quote]    Script Date: 15.10.2018 22:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[view_quote] (datetrade, priceCommon, pricePrefer)
as
with v1 (datetrade, CountCommon, CountPrefer, Price)
-- first set of data
as
(
select (datetrade),
       (iif(ShareType='Common',ShareQty,0)) as  CountCommon,
       (iif(ShareType='Prefer',ShareQty,0)) as  CountPrefer,
	   (Price)
   FROM Trade 
  WHERE datetrade NOT IN (SELECT date
						    FROM PriceQuote)
   ), 
-- second set of data based on first one
v2 (datetrade, amountCommon, countCommon, amountPrefer, CountPrefer)
as
(

SELECT datetrade,
	   sum(v1.CountCommon * v1.Price) as amountCommon,
       sum(v1.CountCommon) as countCommon,
       sum(v1.CountPrefer * v1.Price) as amountPrefer,
	   sum(v1.CountPrefer) as CountPrefer
  FROM v1 
 GROUP BY datetrade
HAVING NOT(DATEDIFF(day, datetrade, GETDATE()) = 0)
)
-- final set of data
 select datetrade,
        case countCommon 
          when 0 then 0
          else amountCommon / countCommon
	    end as PriceCommon,
		case CountPrefer 
          when 0 then 0
          else amountPrefer / CountPrefer
	    end as PricePrefer
 from v2
GO
/****** Object:  Table [dbo].[Bid]    Script Date: 15.10.2018 22:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bid](
	[IdBid] [int] IDENTITY(1,1) NOT NULL,
	[IdHolder] [int] NOT NULL,
	[TradeType] [nchar](4) NOT NULL,
	[Date] [date] NOT NULL,
	[ShareBidQty] [int] NOT NULL,
	[ShareType] [nchar](6) NOT NULL,
	[Price] [money] NOT NULL,
	[ExecutedShareBidQty] [int] NOT NULL,
	[Complete] [int] NOT NULL,
	[GuidUser] [uniqueidentifier] NULL,
	[Closed] [int] NULL,
 CONSTRAINT [PK_Bid] PRIMARY KEY CLUSTERED 
(
	[IdBid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DivHolder]    Script Date: 15.10.2018 22:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DivHolder](
	[IdDiv] [int] NOT NULL,
	[IdHolder] [int] NOT NULL,
	[CommonShareQty] [int] NOT NULL,
	[PreferShareQty] [int] NOT NULL,
 CONSTRAINT [PK_DivHolder] PRIMARY KEY CLUSTERED 
(
	[IdDiv] ASC,
	[IdHolder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DividendCalculation]    Script Date: 15.10.2018 22:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DividendCalculation](
	[IdDiv] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NOT NULL,
	[AmountRevenue] [money] NOT NULL,
	[AllCommonShareQty] [int] NOT NULL,
	[AllPreferShareQty] [int] NOT NULL,
	[AmountOnePrefer] [money] NOT NULL,
	[AmountOneCommon] [money] NOT NULL,
	[Complete] [int] NULL,
 CONSTRAINT [PK_Dividend] PRIMARY KEY CLUSTERED 
(
	[IdDiv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Holder]    Script Date: 15.10.2018 22:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Holder](
	[IdHolder] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](20) NOT NULL,
	[SecondName] [nvarchar](20) NOT NULL,
	[CommonShareQty] [int] NOT NULL,
	[PreferShareQty] [int] NOT NULL,
	[Balance] [money] NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](255) NULL,
 CONSTRAINT [PK_Holders] PRIMARY KEY CLUSTERED 
(
	[IdHolder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderBalance]    Script Date: 15.10.2018 22:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderBalance](
	[idOrder] [int] IDENTITY(1,1) NOT NULL,
	[idHolder] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Amount] [money] NOT NULL,
 CONSTRAINT [PK_OrderBalance] PRIMARY KEY CLUSTERED 
(
	[idOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Settings]    Script Date: 15.10.2018 22:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settings](
	[PropertyName] [nvarchar](50) NOT NULL,
	[PropertyValue] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Settings] PRIMARY KEY CLUSTERED 
(
	[PropertyName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bid] ON 

INSERT [dbo].[Bid] ([IdBid], [IdHolder], [TradeType], [Date], [ShareBidQty], [ShareType], [Price], [ExecutedShareBidQty], [Complete], [GuidUser], [Closed]) VALUES (1, 1, N'buy ', CAST(N'2017-06-12' AS Date), 10, N'common', 98.0000, 10, 1, NULL, 0)
INSERT [dbo].[Bid] ([IdBid], [IdHolder], [TradeType], [Date], [ShareBidQty], [ShareType], [Price], [ExecutedShareBidQty], [Complete], [GuidUser], [Closed]) VALUES (2, 1, N'sale', CAST(N'2017-12-25' AS Date), 10, N'prefer', 100.0000, 10, 1, NULL, 0)
INSERT [dbo].[Bid] ([IdBid], [IdHolder], [TradeType], [Date], [ShareBidQty], [ShareType], [Price], [ExecutedShareBidQty], [Complete], [GuidUser], [Closed]) VALUES (3, 2, N'buy ', CAST(N'2018-02-07' AS Date), 15, N'common', 99.0000, 15, 1, NULL, 0)
SET IDENTITY_INSERT [dbo].[Bid] OFF
INSERT [dbo].[DivHolder] ([IdDiv], [IdHolder], [CommonShareQty], [PreferShareQty]) VALUES (13, 1, 57, 60)
INSERT [dbo].[DivHolder] ([IdDiv], [IdHolder], [CommonShareQty], [PreferShareQty]) VALUES (13, 2, 28, 13)
INSERT [dbo].[DivHolder] ([IdDiv], [IdHolder], [CommonShareQty], [PreferShareQty]) VALUES (13, 3, 995, 710)
GO
SET IDENTITY_INSERT [dbo].[DividendCalculation] ON 

INSERT [dbo].[DividendCalculation] ([IdDiv], [Date], [AmountRevenue], [AllCommonShareQty], [AllPreferShareQty], [AmountOnePrefer], [AmountOneCommon], [Complete]) VALUES (13, CAST(N'2018-03-19' AS Date), 39992.5600, 1549, 1739, 11.0000, 13.6900, 1)
INSERT [dbo].[DividendCalculation] ([IdDiv], [Date], [AmountRevenue], [AllCommonShareQty], [AllPreferShareQty], [AmountOnePrefer], [AmountOneCommon], [Complete]) VALUES (14, CAST(N'2018-03-21' AS Date), 10002.3600, 1549, 1739, 3.0000, 3.1400, 1)
INSERT [dbo].[DividendCalculation] ([IdDiv], [Date], [AmountRevenue], [AllCommonShareQty], [AllPreferShareQty], [AmountOnePrefer], [AmountOneCommon], [Complete]) VALUES (15, CAST(N'2018-04-11' AS Date), 4993.9600, 1549, 1739, 1.5000, 1.5400, 1)
SET IDENTITY_INSERT [dbo].[DividendCalculation] OFF
SET IDENTITY_INSERT [dbo].[Holder] ON 

INSERT [dbo].[Holder] ([IdHolder], [FirstName], [SecondName], [CommonShareQty], [PreferShareQty], [Balance], [Phone], [Email]) VALUES (1, N'Andrey', N'Pirson', 68, 65, 3731.6800, N'380506333333', N'pirson@gmail.com')
INSERT [dbo].[Holder] ([IdHolder], [FirstName], [SecondName], [CommonShareQty], [PreferShareQty], [Balance], [Phone], [Email]) VALUES (2, N'Adam                ', N'Smith               ', 43, 13, 308.7000, NULL, NULL)
INSERT [dbo].[Holder] ([IdHolder], [FirstName], [SecondName], [CommonShareQty], [PreferShareQty], [Balance], [Phone], [Email]) VALUES (3, N'Bill', N'Geits', 951, 710, 98137.8300, N'4906056714', NULL)
SET IDENTITY_INSERT [dbo].[Holder] OFF
SET IDENTITY_INSERT [dbo].[OrderBalance] ON 

INSERT [dbo].[OrderBalance] ([idOrder], [idHolder], [Date], [Amount]) VALUES (1, 3, CAST(N'2017-10-12' AS Date), 525.0000)
INSERT [dbo].[OrderBalance] ([idOrder], [idHolder], [Date], [Amount]) VALUES (2, 6, CAST(N'2017-11-12' AS Date), 300.0000)
INSERT [dbo].[OrderBalance] ([idOrder], [idHolder], [Date], [Amount]) VALUES (3, 3, CAST(N'2017-11-12' AS Date), -500.0000)
SET IDENTITY_INSERT [dbo].[OrderBalance] OFF
INSERT [dbo].[PriceQuote] ([Date], [CommonPrice], [PreferPrice]) VALUES (CAST(N'2018-01-01' AS Date), 95.0000, 95.0000)
INSERT [dbo].[PriceQuote] ([Date], [CommonPrice], [PreferPrice]) VALUES (CAST(N'2018-02-01' AS Date), 98.0000, 100.0000)
INSERT [dbo].[PriceQuote] ([Date], [CommonPrice], [PreferPrice]) VALUES (CAST(N'2018-02-02' AS Date), 99.0000, 100.0000)
INSERT [dbo].[Settings] ([PropertyName], [PropertyValue]) VALUES (N'EmissionDate', N'2018-01-01')
INSERT [dbo].[Settings] ([PropertyName], [PropertyValue]) VALUES (N'NameCompany', N'Mounting Company')
INSERT [dbo].[Settings] ([PropertyName], [PropertyValue]) VALUES (N'TradeComission', N'0.015')
SET IDENTITY_INSERT [dbo].[Trade] ON 

INSERT [dbo].[Trade] ([IdTrade], [DateTrade], [IdSeller], [IdPurchaser], [ShareQty], [ShareType], [Price], [NameUser], [Comission]) VALUES (1, CAST(N'2018-02-03' AS Date), 1, 2, 10, N'common', 98.0000, N'User1', 5.0000)
INSERT [dbo].[Trade] ([IdTrade], [DateTrade], [IdSeller], [IdPurchaser], [ShareQty], [ShareType], [Price], [NameUser], [Comission]) VALUES (2, CAST(N'2018-02-03' AS Date), 2, 3, 15, N'prefer', 99.5000, N'User2', 10.0000)
INSERT [dbo].[Trade] ([IdTrade], [DateTrade], [IdSeller], [IdPurchaser], [ShareQty], [ShareType], [Price], [NameUser], [Comission]) VALUES (4, CAST(N'2018-02-03' AS Date), 3, 1, 20, N'common', 98.7000, N'User1', 12.0000)
SET IDENTITY_INSERT [dbo].[Trade] OFF
/****** Object:  Index [IX_Common]    Script Date: 15.10.2018 22:43:14 ******/
CREATE NONCLUSTERED INDEX [IX_Common] ON [dbo].[Holder]
(
	[CommonShareQty] ASC,
	[IdHolder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FirstName]    Script Date: 15.10.2018 22:43:14 ******/
CREATE NONCLUSTERED INDEX [IX_FirstName] ON [dbo].[Holder]
(
	[FirstName] ASC,
	[IdHolder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Prefer]    Script Date: 15.10.2018 22:43:14 ******/
CREATE NONCLUSTERED INDEX [IX_Prefer] ON [dbo].[Holder]
(
	[PreferShareQty] ASC,
	[IdHolder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SecondName]    Script Date: 15.10.2018 22:43:14 ******/
CREATE NONCLUSTERED INDEX [IX_SecondName] ON [dbo].[Holder]
(
	[SecondName] ASC,
	[IdHolder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DateTrade]    Script Date: 15.10.2018 22:43:14 ******/
CREATE NONCLUSTERED INDEX [IX_DateTrade] ON [dbo].[Trade]
(
	[DateTrade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Purchaser]    Script Date: 15.10.2018 22:43:14 ******/
CREATE NONCLUSTERED INDEX [IX_Purchaser] ON [dbo].[Trade]
(
	[IdPurchaser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Seller]    Script Date: 15.10.2018 22:43:14 ******/
CREATE NONCLUSTERED INDEX [IX_Seller] ON [dbo].[Trade]
(
	[IdSeller] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bid]  WITH CHECK ADD  CONSTRAINT [FK_Bid_Holders] FOREIGN KEY([IdHolder])
REFERENCES [dbo].[Holder] ([IdHolder])
GO
ALTER TABLE [dbo].[Bid] CHECK CONSTRAINT [FK_Bid_Holders]
GO
ALTER TABLE [dbo].[DivHolder]  WITH CHECK ADD  CONSTRAINT [FK_DivHolder_DividendCalculation] FOREIGN KEY([IdDiv])
REFERENCES [dbo].[DividendCalculation] ([IdDiv])
GO
ALTER TABLE [dbo].[DivHolder] CHECK CONSTRAINT [FK_DivHolder_DividendCalculation]
GO
ALTER TABLE [dbo].[DivHolder]  WITH CHECK ADD  CONSTRAINT [FK_DivHolder_Holder] FOREIGN KEY([IdHolder])
REFERENCES [dbo].[Holder] ([IdHolder])
GO
ALTER TABLE [dbo].[DivHolder] CHECK CONSTRAINT [FK_DivHolder_Holder]
GO
ALTER TABLE [dbo].[OrderBalance]  WITH CHECK ADD  CONSTRAINT [FK_OrderBalance_Holder1] FOREIGN KEY([idHolder])
REFERENCES [dbo].[Holder] ([IdHolder])
GO
ALTER TABLE [dbo].[OrderBalance] CHECK CONSTRAINT [FK_OrderBalance_Holder1]
GO
ALTER TABLE [dbo].[Trade]  WITH CHECK ADD  CONSTRAINT [FK_TradePurchaser_Holder] FOREIGN KEY([IdPurchaser])
REFERENCES [dbo].[Holder] ([IdHolder])
GO
ALTER TABLE [dbo].[Trade] CHECK CONSTRAINT [FK_TradePurchaser_Holder]
GO
ALTER TABLE [dbo].[Trade]  WITH CHECK ADD  CONSTRAINT [FK_TradeSeller_Holder] FOREIGN KEY([IdSeller])
REFERENCES [dbo].[Holder] ([IdHolder])
GO
ALTER TABLE [dbo].[Trade] CHECK CONSTRAINT [FK_TradeSeller_Holder]
GO
/****** Object:  Trigger [dbo].[Update_Bid]    Script Date: 15.10.2018 22:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [dbo].[Update_Bid]
   ON  [dbo].[Bid] 
      AFTER UPDATE
AS 
BEGIN
IF UPDATE (GuidUser)
BEGIN
   DECLARE @GuidUserNew uniqueidentifier
   DECLARE @GuidUserOld uniqueidentifier
   SET @GuidUserOld = (SELECT GuidUSER FROM deleted)
   SET @GuidUserNew = (SELECT GuidUSER FROM inserted)
   IF NOT(@GuidUserOld IS NULL OR @GuidUserNew IS NULL OR @GuidUserOld = @GuidUserNew) 
      BEGIN
	     RAISERROR ('The Bid is processed by another user.', -- Message text.  
               16, -- Severity.  
               1 -- State.  
               ) 
      END
END
	SET NOCOUNT ON;

    -- Insert statements for trigger here

END
GO
ALTER TABLE [dbo].[Bid] ENABLE TRIGGER [Update_Bid]
GO
/****** Object:  Trigger [dbo].[Update_Holders_Account]    Script Date: 15.10.2018 22:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [dbo].[Update_Holders_Account] 
   ON  [dbo].[Holder] 
   AFTER UPDATE
AS 
BEGIN
IF ((SELECT COUNT(*) FROM inserted WHERE Balance < 0 ) > 0)
  BEGIN
	    RAISERROR ('Not enough currency on holder account', -- Message text.  
               16, -- Severity.  
               1 -- State.  
               ) 

   END
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here

END
GO
ALTER TABLE [dbo].[Holder] ENABLE TRIGGER [Update_Holders_Account]
GO
/****** Object:  Trigger [dbo].[Update_Holders_Shares]    Script Date: 15.10.2018 22:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE TRIGGER [dbo].[Update_Holders_Shares] 
   ON  [dbo].[Holder] 
   AFTER UPDATE
AS 
BEGIN
IF ((SELECT COUNT(*) FROM inserted WHERE CommonShareQty < 0 OR  PreferShareQty < 0) > 0) 
   BEGIN
	    RAISERROR ('Share quantity for trade is too large. Refresh data.', -- Message text.  
               16, -- Severity.  
               1 -- State.  
               ) 

   END
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here

END
GO
ALTER TABLE [dbo].[Holder] ENABLE TRIGGER [Update_Holders_Shares]
GO
USE [master]
GO
